@font-face {
    font-family: 'DS Digital';
    src: url('../fonts/DS-DIGI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #272727;
    padding: 10px 20px;
    max-height: 80px;
}

header #logo {
    display: flex;
    align-items: center;
}

header #logo img {
    max-height: 100px;
    margin-right: 10px;
}

.produits-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: calc(100% - 80px);
    margin: 0 auto;
}

.produits {
    max-width: none;
    width: calc(100% - 40px);
    flex: none;
    margin: 0;
    padding: 20px;
    background-color: #272727;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}

html {
    font-family: 'Roboto', sans-serif;
    color: white;
}

a{
    color: white;
}

body img{
    max-width: 200px;
    height: auto;
}


body {
    margin: 0;
    text-align: center;
    min-height: 100vh;
    background-color: #272727 !important;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    background-color: #272727;
    text-align: center;
    border-top: 1px solid white;
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 30px;
}

.button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
}

header .auth-boutons {
    display: flex;
    gap: 15px; /* Espacement entre les boutons */
}

.button:hover {
    background-color: #949494;
}

.button:active {
    background-color: #ffffff;
    transform: translateY(4px);
}

.conn {
    max-width: 400px;
    margin: 20px auto; /* Centrage horizontal */
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
    /* Flex optimisé */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    max-width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    background-color: #272727;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.nav-milieu {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
}

.nav-droite {
    margin-left: auto;
}

.bouton-retour {
    text-align: center;
    margin: 20px auto;
    width: fit-content;
}

.enchere {
    width: 80%;
    max-width: 1100px;
    margin: 20px auto;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 20px;
}

.enchere img {
    flex-shrink: 0;
    width: 200px; /* Taille fixe pour l'image */
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.enchere-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.enchere-details .info-group {
    display: flex;
    flex-wrap: nowrap; /* Empêche les éléments d'aller à la ligne */
    justify-content: space-between;
    align-items: center; /* Centre les éléments verticalement */
    margin-bottom: 15px;
}

.enchere-details .info-group p {
    flex: 1; /* Chaque élément occupe un espace égal */
    font-size: 16px;
    color: #555;
    margin: 0 10px; /* Espacement entre les éléments */
    line-height: 1.5;
    white-space: nowrap; /* Empêche les sauts de ligne dans un paragraphe */
    overflow: hidden; /* Coupe le texte s'il dépasse */
    text-overflow: ellipsis; /* Ajoute "..." si le texte est trop long */
    text-align: justify; /* Justifie le texte */
}

#timer {
    background-color: #2a2a2a; /* Fond noir */
    color: #e75517; /* Couleur de texte rouge */
    font-family: 'DS Digital', sans-serif; /* Utilisation de la police DS Digital */
    font-size: 24px; /* Taille de police plus grande */
    padding: 5px 10px; /* Espacement interne */
    display: inline-block; /* Pour que le chronomètre soit sur une ligne */
    border: 2px solid grey; /* Bordure grise autour du chronomètre */
    border-radius: 10px; /* Coins arrondis */
    text-align: center; /* Centrer le texte à l'intérieur */
    width: fit-content; /* Ajuster la largeur en fonction du texte */
    margin-top: 10px; /* Un peu d'espacement au-dessus */
    letter-spacing: 1px; /* Espacement des lettres pour un effet plus marqué */
    transition: all 0.3s ease-in-out; /* Transition pour un effet fluide */
}
