header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #272727;
    padding: 10px 20px;
    max-height: 80px;
}

header #logo {
    display: flex;
    align-items: center;
}

header #logo img {
    max-height: 100px;
    margin-right: 10px;
}

.produits-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: calc(100% - 80px);
    margin: 0 auto;
}

.produits {
    max-width: none;
    width: calc(100% - 40px);
    flex: none;
    margin: 0;
    padding: 20px;
    background-color: #272727;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}

html {
    font-family: 'Roboto', sans-serif;
    color: white;
}

a{
    color: white;
}

body img{
    max-width: 200px;
    height: auto;
}


body {
    margin: 0;
    text-align: center;
    height: 100vh;
    background-color: #272727 !important;
}

footer {
    position: relative;
    bottom: 0;
    height: 80px;
    background-color: #272727;
    text-align: center;
    border-top: 1px solid white;
    width: calc(100% - 80px);
    margin: 20px 40px 0 40px;
    padding-bottom: 30px;
}

.button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
}

header .auth-boutons {
    display: flex;
    gap: 15px; /* Espacement entre les boutons */
}

.button:hover {
    background-color: #949494;
}

.button:active {
    background-color: #ffffff;
    transform: translateY(4px);
}

.conn {
    max-width: 400px;
    margin: 20px auto; /* Centrage horizontal */
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
    /* Flex optimisé */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    max-width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    background-color: #272727;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.nav-milieu {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
}

.nav-droite {
    margin-left: auto;
}
